# dependencies
node_modules/

# next.js
.next/

# env
.env

# build outputs
dist/
build/
bundle/

# hardhat
artifacts/
cache/
coverage/
types/

# python
venv/
__pycache__/

gven/
__pycache__/

.coverage